.bottol{
border-radius: 15px;
box-shadow: 1px;
padding: 12px;
margin-bottom: 11px;
background-color: #077A7D;
transition-duration: 2s;
}
.bottol:hover{
    background-color: #C95792;
}
.bottol img {
    width: 200px;
    border-radius: 30px;
    transition-duration:.5s ;
}
.bottol img:hover{
    width: 210px;
}